<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>Contact Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>

<section class="section-main mb-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-3" id="contactus">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="fa-solid fa-location-dot"></i>
                        <h5 class="card-title">7th Floor, Cybernex,399, Shankar Sheth Road, Pune, Maharashtra 411037</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="fa-solid fa-phone"></i>
                        <h5 class="card-title"><a href="tel:+918484801165">+91 8484801165</a> / <a href="tel:+917709277707">+91 7709277707</a></h5>
                        <h5 class="card-title"><a href="tel:02067800801">020 67800801</a></h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="fa-solid fa-envelope"></i>
                        <h5 class="card-title"><a href="mailto:sales@shauryatechnosoft.com">sales@shauryatechnosoft.com</a></h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="fa-solid fa-globe"></i>
                        <h5 class="card-title"><a href="https://www.shauryatechnosoft.com/" target="_blank">https://www.shauryatechnosoft.com/</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>