<footer>
    <div class="container-fluid border-bottom border-light pb-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="container position-relative">
                    <div class="row p-lg-3" id="footer-contact">
                        <div class="col-sm-3 col-6">
                            <div class="d-flex align-items-center align-items-lg-start">
                                <div class="flex-shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="flex-grow-1 ms-lg-3 ms-0">
                                    <h6 class="d-none d-lg-block">Give Us A Call</h6>
                                    <p><a href="tel:02067800801">020 67800801</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="d-flex align-items-center align-items-lg-start">
                                <div class="flex-shrink-0">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="flex-grow-1 ms-lg-3 ms-0">
                                    <h6 class="d-none d-lg-block">Email Address</h6>
                                    <p><a href="mailto:info@hitechdairy.in">info@hitechdairy.in</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-12">
                            <div class="d-flex align-items-center align-items-lg-start">
                                <div class="flex-shrink-0">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="flex-grow-1 ms-lg-3 ms-0">
                                    <h6 class="d-none d-lg-block">Office Location</h6>
                                    <p>7th Floor, Cybernex,399, Shankar Sheth Road, Pune, Maharashtra 411037</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-12">
                            <div class="d-flex align-items-center align-items-lg-start">
                                <div class="flex-shrink-0">
                                    <i class="fa-solid fa-clock"></i>
                                </div>
                                <div class="flex-grow-1 ms-lg-3 ms-0">
                                    <h6 class="d-none d-lg-block">Work Hours</h6>
                                    <p>Every Day 09:30 - 19:00</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row mt-3 mt-lg-5 pt-0 pt-lg-5">
                        <div class="col-sm-3 mb-4 mb-lg-0 text-center text-lg-start">
                            <img src="assets/images/HiTechDairy-Logo-White.png" class="logo">
                            <p class="footer-text">Lorem Ipsum is simply dummy text<br> of the printing and typesetting
                                industry.
                            </p>
                            <div class="d-flex gap-2 justify-content-center justify-content-lg-start">
                                <a href="https://www.facebook.com/profile.php?id=100087408082342" target="_blank"><img src="assets/images/footer/facebook.svg" class="social-icon"></a>
                                <a href="https://twitter.com/HitechdairyStpl" target="_blank"><img src="assets/images/footer/twitter.svg" class="social-icon"></a>
                                <a href="https://www.instagram.com/hitechdairy.stpl/" target="_blank"><img src="assets/images/footer/Instagram.svg" class="social-icon"></a>
                            </div>
                        </div>
                        <div class="col-sm-2 col-6">
                            <h6 class="mb-3">Quick Links</h6>
                            <ul class="footer-links">
                                <li><a routerLink="../home">Home</a></li>
                                <li><a routerLink="../about-us">About Us</a></li>
                                <li><a routerLink="../products">Products</a></li>
                                <li><a routerLink="../services">Services</a></li>
                                <li><a routerLink="../contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-6">
                            <h6 class="mb-3">Useful Links</h6>
                            <ul class="footer-links">
                                <li><a routerLink="#">Privacy Policy</a></li>
                                <li><a routerLink="#">Terms & Conditions</a></li>
                                <li><a routerLink="#">Disclaimer</a></li>
                                <li><a routerLink="#">Support</a></li>
                                <li><a routerLink="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-5">
                            <h6 class="mb-3">Subscribe Our Newsletter</h6>
                            <p class="footer-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry's standard dummy text.
                            </p>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <button type="submit" class="btn btn-main-dark btn-subscribe">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container py-3">
        <div class="row">
            <div class="col-sm-12 text-lg-end text-center">
                <div class="bottom-text">
                    Copyright 2022. All rights reserved
                </div>
            </div>
        </div>
    </div>
</footer>