<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="assets/images/HiTechDairy-Logo-White.png" class="logo">
                <p class="footer-text">Lorem Ipsum is simply dummy text<br> of the printing and typesetting industry.
                </p>
                <div class="d-flex gap-2">
                    <a href="#"><img src="assets/images/footer/facebook.svg" class="social-icon"></a>
                    <a href="#"><img src="assets/images/footer/twitter.svg" class="social-icon"></a>
                    <a href="#"><img src="assets/images/footer/whatsapp.svg" class="social-icon"></a>
                    <a href="#"><img src="assets/images/footer/email.svg" class="social-icon"></a>
                </div>
            </div>
            <div class="col-sm-2">
                <h6 class="mb-3">Quick Links</h6>
                <ul class="footer-links">
                    <li><a routerLink="#">Home</a></li>
                    <li><a routerLink="#">About Us</a></li>
                    <li><a routerLink="#">Products</a></li>
                    <li><a routerLink="#">Services</a></li>
                    <li><a routerLink="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h6 class="mb-3">Useful Links</h6>
                <ul class="footer-links">
                    <li><a routerLink="#">Privacy Policy</a></li>
                    <li><a routerLink="#">Terms & Conditions</a></li>
                    <li><a routerLink="#">Disclaimer</a></li>
                    <li><a routerLink="#">Support</a></li>
                    <li><a routerLink="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h6 class="mb-3">Subscribe Our Newsletter</h6>
                <p class="footer-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text.
                </p>
                <div class="d-flex gap-2">
                    <input type="text" class="form-control" placeholder="Email Address">
                    <button type="submit" class="btn btn-subscribe">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>