footer{ 
    background-image: url('../../../../assets/images/section-bg.png');
    background-size: cover;
    padding-block: 3rem;
    font-family: 'Inter', sans-serif; 
    color: #fff;
}
footer .logo{ 
   width: 150px;
   margin-bottom: 1rem;
}
footer .footer-text{ 
   color: #fff;
   font-size: 0.85rem;
   margin-bottom: 1rem;
}
footer .social-icon{ 
   width: 40px;
}
footer .footer-links{ 
   margin: 0;
   padding: 0;
   list-style-type: none;
}
footer .footer-links a{ 
   color: #fff;
   text-decoration: none;
   font-size: 0.85rem;
   line-height: 2rem;
}
footer .form-control,
footer .btn-subscribe{ 
   border-radius: 40px;
   padding: 20px 35px;
   font-size: 0.85rem;
}