
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/dummy-img.jpg" alt="Production Dairy Img" class="img-fluid w-100 mb-2">
                    <div class="row mb-4">
                        <div>
                            <h3>Route Manager</h3>
                            <p>
                                This application helps to maintain the quality of BMC’s under dairy. This has the features mentioned below
                            </p>
                        </div>
                        <div>
                            <ul>
                                <li>carries out survey activities for AMCUs and BMCs</li>
                                <li>performs survey activities for new acquisitions.</li>
                                <li>Daily BMC visits ensure the curdling of milk. </li>
                                <li>Authentic travel distances and visits are documented by live tracking and site photos. </li>
                                <li>Help maintain customer relations by recording BMC needs.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>Route Manager</h6>
                    <ul>
                        <li>Automatic milk collection unit </li>
                        <li>Dairy Supervisor</li>
                        <li>Route Manager</li>
                        <li>e-Anifarm Mobile Application</li>
                        <li>e-Anifarm Desktop</li>
                        <li>e-Vet Mobile</li>
                        <li>Procurement Web Panel</li>
                        <li>e-Processor</li>
                        <li>POS (Counter sale)</li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
</div>