
<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>Route Manager</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Route Manager</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="section-main">
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4"  id="product-details">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/Product/Route-Manager.png" alt="Production Dairy Img" class="img-fluid w-100 mb-3">
                    <div class="row mb-4">
                        <div>
                            <h3>Route Manager</h3>
                            <p>
                                This application helps to maintain the quality of BMC’s under dairy. This has the features mentioned below
                            </p>
                        </div>
                        <div>
                            <ul>
                                <li>carries out survey activities for AMCUs and BMCs</li>
                                <li>performs survey activities for new acquisitions.</li>
                                <li>Daily BMC visits ensure the curdling of milk. </li>
                                <li>Authentic travel distances and visits are documented by live tracking and site photos. </li>
                                <li>Help maintain customer relations by recording BMC needs.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header bg-transparent fw-bold border-bottom-0">
                            Our Products
                        </div>
                        <div class="list-group list-group-flush">
                            <a routerLink="/daily-supervisor" class="list-group-item list-group-item-action" aria-current="true">Daily
                                Supervisor</a>
                            <a routerLink="/automatic-milk-collection-unit" class="list-group-item list-group-item-action ">Automatic Milk Collection Unit</a>
                            <a routerLink="/route-manager" class="list-group-item list-group-item-action active">Route Manager</a>
                            <a routerLink="/e-anifarm-mobile-app" class="list-group-item list-group-item-action ">e-Anifarm Mobile Application</a>
                            <a routerLink="/e-anifarm-desktop" class="list-group-item list-group-item-action">e-Anifarm Desktop</a>
                            <a  routerLink="/e-vet-mobile" class="list-group-item list-group-item-action">e-Vet Mobile</a>
                            <a  routerLink="/procurement-web-panel" class="list-group-item list-group-item-action">Procurement Web Panel</a>
                            <a routerLink="/e-processor" class="list-group-item list-group-item-action">e-Processor</a>
                            <a routerLink="/pos" class="list-group-item list-group-item-action">POS (Counter sale)</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
</section>