@keyframes swing {
  0% {
    transform: rotate(0deg);
 }
  10% {
    transform: rotate(10deg);
 }
  30% {
    transform: rotate(0deg);
 }
  40% {
    transform: rotate(-10deg);
 }
  50% {
    transform: rotate(0deg);
 }
  60% {
    transform: rotate(5deg);
 }
  70% {
    transform: rotate(0deg);
 }
  80% {
    transform: rotate(-5deg);
 }
  100% {
    transform: rotate(0deg);
 }
}
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
 }
  100% {
    transform: scale(2);
    opacity: 0;
 }
}
.sidebar {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 58px;
  left: 0px;
  z-index: 999;
  transition: left 0.3s ease;
  box-shadow: -4px 2px 20px #c5dbf2;
}
.sidebar a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.sidebar .sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}
.sidebar .sidebar-content .sidebar-header {
  padding: 5px 0px 6px 20px;
  display: flex;
  align-items: center;
  background-color: var(--main-dark-color);
}
.sidebar .sidebar-content .sidebar-header img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}
.sidebar .sidebar-content .sidebar-header > a {
  font-size: 1.2rem;
  font-weight: 500;
  flex-grow: 1;
  text-decoration: none;
  color: #fff;
}
.sidebar .sidebar-content .sidebar-header #close-sidebar {
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s ease;
}
.sidebar .sidebar-content .sidebar-menu {
  padding: 10px;
}
.sidebar .sidebar-content .sidebar-menu .header-menu span {
  font-weight: 600;
  font-size: 0.8rem;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.sidebar .sidebar-content .sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.toggled .sidebar .sidebar-content .sidebar-menu ul li{
  flex-shrink: 0;
  display: flex;
}
.sidebar .sidebar-content .sidebar-menu ul li a {
  display: flex;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  align-items: center;
}
.sidebar .sidebar-content .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
.sidebar .sidebar-content .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
  transition: transform 0.3s ease;
}
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu {
  overflow: hidden;
}
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:focus,
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:active,
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:hover{
  background-color:transparent;
  color: var(--main-dark-color) !important;
}
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge, .sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}
.sidebar .sidebar-content .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 15px;
}
/*------------------------------default theme---------------------------------*/
.sidebar {
  background-color: #1d1d1d;
}
.sidebar .sidebar-menu {
  border-top: 1px solid #2b2b2b;
}
.sidebar .sidebar-menu ul li a:hover,
.sidebar .sidebar-menu ul li a:active,
.sidebar .sidebar-menu ul li a:focus,
.sidebar .sidebar-menu ul li a.active{
  background: var(--main-color);
  color: #fff !important;
}
.sidebar .sidebar-menu ul li a:hover i,
.sidebar .sidebar-menu ul li a:active i,
.sidebar .sidebar-menu ul li a:focus i,
.sidebar .sidebar-menu ul li a.active i{
  color: #fff !important;
}
.sidebar .sidebar-header > a, .sidebar .sidebar-menu ul li a, .sidebar #close-sidebar {
  color: #bdbdbd;
}
.sidebar .sidebar-menu ul li:hover > a, .sidebar .sidebar-menu .sidebar-dropdown.active > a, .sidebar .sidebar-header > a:hover, .sidebar #close-sidebar:hover {
  color: #fff;
}
.sidebar ul li:hover a i, .sidebar .sidebar-dropdown .sidebar-submenu li a:hover:before, .sidebar .sidebar-menu .sidebar-dropdown.active a i {
  color: #fff;
}
.sidebar .sidebar-menu ul li a i, .sidebar .sidebar-menu .sidebar-dropdown div {
  border: none;
  margin-left: 1px;
}
.sidebar .sidebar-menu .header-menu span {
  color: #6c7b88;
}
.sidebar.sidebar-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #353535;
}
.sidebar.sidebar-bg:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #353535;
}
.sidebar.sidebar-bg .sidebar-header > a, .sidebar.sidebar-bg .sidebar-menu ul li a, .sidebar.sidebar-bg #close-sidebar {
  color: #353535;
}
.sidebar.sidebar-bg .sidebar-menu ul li:hover > a, .sidebar.sidebar-bg .sidebar-menu .sidebar-dropdown.active > a, .sidebar.sidebar-bg .sidebar-header > a:hover, .sidebar.sidebar-bg #close-sidebar:hover {
  color: #353535;
}
.sidebar.sidebar-bg ul li:hover a i, .sidebar.sidebar-bg .sidebar-dropdown .sidebar-submenu li a:hover:before, .sidebar.sidebar-bg .sidebar-menu .sidebar-dropdown.active a i {
  color: #353535;
}
.sidebar.sidebar-bg .sidebar-menu {
  border-top: 1px solid #d9d9d9;
  color: #353535;
}
.sidebar.sidebar-bg .sidebar-menu .sidebar-dropdown div {
  background-color: #f6f5f7;
  color: #353535;
}
