
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/dummy-img.jpg" alt="Production Dairy Img"
                        class="img-fluid w-100 mb-2">
                    <div class="row mb-4">
                        <div>
                            <h3>POS (Counter sale)</h3>
                            <p>
                                The modern-day cash register, a point of sale system, or POS, is an all-in-one hardware and software solution that all types of businesses use to sell their products and/or services.
                                It is a desktop-based solution where customers can add all their outlet data with unique codes.
                                
                            </p>

                        </div>
                        <div>
                            <ul>
                                <li>All registered items at the counter will be displayed on the counter screen.</li>
                                <li>Item can be purchased using a credit card, a coupon, cash, or online.</li>
                                <li>facility to set a credit limit for customers</li>
                                <li>facility to get receipts from customers</li>
                                <li>Possibility of selling items in weights or rupees </li>
                                <li>Various reports were generated—customer-wise, item-wise, counter-wise, etc.</li>
                                <li>Stock report produced</li>
                                <li>Account ledger report created.</li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>POS (Counter sale)</h6>
                    <ul>
                        <li>Automatic milk collection unit </li>
                        <li>Dairy Supervisor</li>
                        <li>Route Manager</li>
                        <li>e-Anifarm Mobile Application</li>
                        <li>e-Anifarm Desktop</li>
                        <li>e-Vet Mobile</li>
                        <li>Procurement Web Panel</li>
                        <li>e-Processor</li>
                        <li>POS (Counter sale)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>