<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>Inventory Management</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../services">Services</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Inventory Management</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="section-main">
    <div class="container">
        <div class="row my-4" id="product-details">
            <div class="col-sm-12">
                <div class="row mb-4">
                    <div class="col-sm-8">
                        <div class="mb-4">
                            <img src="../../../../assets/images/Services/Inventory-Management.png"
                                alt="Production Dairy Img" class="img-fluid w-100 rounded-4">
                        </div>
                        <div class="row mb-4">
                            <div>
                                <h3>Inventory Management</h3>
                                <p>
                                    This module of the Hitech Dairy ERP Software enables the company to maintain an
                                    inventory of the infrastructure and other materials that are already in use.
                                    Inventory
                                    management helps the company keep track of the inventory items and place orders for
                                    the
                                    requests that are essential.
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>Assign unique category codes or barcodes to each category with the item name,
                                        model, make, characteristics, etc..</li>
                                    <li>Keep track of stocks and set up alerts when they reach a certain level.</li>
                                    <li>Generate a material received or dispatch receipt. </li>
                                    <li>Update stock in the case of material returns. </li>
                                    <li>Issue goods and update stock in asset masters with user information </li>
                                    <li>Categorize materials into the buyback or auction category.</li>
                                    <li>Create a purchase order, a sale order, and a supply order, and update details in
                                        the vendor master.</li>
                                    <li>Tracking non-moving and obsolete items.</li>
                                    <li>Generate an alert if the stock goes below the minimum order value.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header bg-transparent fw-bold border-bottom-0">
                                Our Products
                            </div>
                            <div class="list-group list-group-flush">
                                <a href="../asset-management" class="list-group-item list-group-item-action" aria-current="true">Asset Management</a>
                                <a href="../inventory-management" class="list-group-item list-group-item-action active">Inventory Management</a>
                                <a href="../sales-distribution" class="list-group-item list-group-item-action">Sales and Distribution</a>
                                <a href="../hrms" class="list-group-item list-group-item-action">Human Resources Management System</a>
                                <a href="../finance-accounting" class="list-group-item list-group-item-action">Finance and Accounting</a>
                                <a href="../field-force-tracking" class="list-group-item list-group-item-action">Field Force Tracking</a>
                                <a href="../vehicle-tracking-system" class="list-group-item list-group-item-action">Vehicle Tracking System</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>