<div class="container">
    <div class="row my-4">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <div class="mb-4">
                        <img src="../../../../assets/images/dummy-img.jpg" alt="Production Dairy Img"
                            class="img-fluid w-100 rounded-4">
                    </div>
                    <div class="row mb-4">
                        <div>
                            <h3>Inventory Management</h3>
                            <p>
                                This module of the Hitech Dairy ERP Software enables the company to maintain an
                                inventory of the infrastructure and other materials that are already in use. Inventory
                                management helps the company keep track of the inventory items and place orders for the
                                requests that are essential.
                            </p>
                        </div>
                        <div>
                            <ul>
                                <li>Assign unique category codes or barcodes to each category with the item name, model, make, characteristics, etc..</li>
                                <li>Keep track of stocks and set up alerts when they reach a certain level.</li>
                                <li>Generate a material received or dispatch receipt. </li>
                                <li>Update stock in the case of material returns. </li>
                                <li>Issue goods and update stock in asset masters with user information </li>
                                <li>Categorize materials into the buyback or auction category.</li>
                                <li>Create a purchase order, a sale order, and a supply order, and update details in the vendor master.</li>
                                <li>Tracking non-moving and obsolete items.</li>
                                <li>Generate an alert if the stock goes below the minimum order value.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4>Services</h4>
                    <ul class="list-unstyled">
                        <li>Asset Management</li>
                        <li>Inventory Management</li>
                        <li>Sales and Distribution</li>
                        <li>Human Resources Management System</li>
                        <li>Finance and Accounting</li>
                        <li>Field Force Tracking</li>
                        <li>Vehicle Tracking System</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>