
<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>e-Anifarm Mobile Application</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">e-Anifarm Mobile Application</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="section-main">
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4"  id="product-details">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/Product/e-Anifarm-Mobile-Application.png" alt="Production Dairy Img"
                        class="img-fluid w-100 mb-3">
                    <div class="row mb-4">
                        <div>
                            <h3>e-Anifarm Mobile Application</h3>
                            <p>
                                e- Anifarm is a simple and most user-friendly application developed by Shaurya
                                Technosoft Pvt. Ltd. for the purpose of herd management in dairy farming. For more
                                convenience, this app is also available in regional languages. The Android version is
                                most suited for small and medium-scale dairy farmers. While using our application
                                farmers won’t be required to carry the big ledgers for keeping the daily records like
                                milk production per day per shift by each animal, respective sale of milk, AI, PD,
                                calving details, medication and vaccination etc. All these details can be stored in our
                                application in systematic manner with ease.
                            </p>
                            <h6>Farmers can easily download the app for free from the Google Play store.</h6>
                        </div>
                        <div>
                            <ul>
                                <li>Monitoring animal milking, breeding life cycle. </li>
                                <li>Facilitation of medication and vaccination alerts from e-Vet. </li>
                                <li>Events and notifications alerts. </li>
                                <li>Animal analytics reports for its profitability.  </li>
                                <li>Livestock classification based on age, weight, milk yield and psychological state.</li>
                                <li>Fertility cycle tracking: SMS alerts and daily task reports to show fertility cycle dates of each livestock</li>
                                <li>Maintain the genealogy of each Livestock.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header bg-transparent fw-bold border-bottom-0">
                            Our Products
                        </div>
                        <div class="list-group list-group-flush">
                            <a routerLink="/daily-supervisor" class="list-group-item list-group-item-action" aria-current="true">Daily
                                Supervisor</a>
                            <a routerLink="/automatic-milk-collection-unit" class="list-group-item list-group-item-action ">Automatic Milk Collection Unit</a>
                            <a routerLink="/route-manager" class="list-group-item list-group-item-action">Route Manager</a>
                            <a routerLink="/e-anifarm-mobile-app" class="list-group-item list-group-item-action active">e-Anifarm Mobile Application</a>
                            <a routerLink="/e-anifarm-desktop" class="list-group-item list-group-item-action">e-Anifarm Desktop</a>
                            <a  routerLink="/e-vet-mobile" class="list-group-item list-group-item-action">e-Vet Mobile</a>
                            <a  routerLink="/procurement-web-panel" class="list-group-item list-group-item-action">Procurement Web Panel</a>
                            <a routerLink="/e-processor" class="list-group-item list-group-item-action">e-Processor</a>
                            <a routerLink="/pos" class="list-group-item list-group-item-action">POS (Counter sale)</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>