<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/dummy-img.jpg" alt="Production Dairy Img"
                        class="img-fluid w-100 mb-2">
                    <div class="row mb-4">
                        <div>
                            <h3>e-Anifarm Mobile Application</h3>
                            <p>
                                e- Anifarm is a simple and most user-friendly application developed by Shaurya
                                Technosoft Pvt. Ltd. for the purpose of herd management in dairy farming. For more
                                convenience, this app is also available in regional languages. The Android version is
                                most suited for small and medium-scale dairy farmers. While using our application
                                farmers won’t be required to carry the big ledgers for keeping the daily records like
                                milk production per day per shift by each animal, respective sale of milk, AI, PD,
                                calving details, medication and vaccination etc. All these details can be stored in our
                                application in systematic manner with ease.
                            </p>
                            <h6>Farmers can easily download the app for free from the Google Play store.</h6>
                        </div>
                        <div>
                            <ul>
                                <li>Monitoring animal milking, breeding life cycle. </li>
                                <li>Facilitation of medication and vaccination alerts from e-Vet. </li>
                                <li>Events and notifications alerts. </li>
                                <li>Animal analytics reports for its profitability.  </li>
                                <li>Livestock classification based on age, weight, milk yield and psychological state.</li>
                                <li>Fertility cycle tracking: SMS alerts and daily task reports to show fertility cycle dates of each livestock</li>
                                <li>Maintain the genealogy of each Livestock.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>e-Anifarm Mobile Application</h6>
                    <ul>
                        <li>Automatic milk collection unit </li>
                        <li>Dairy Supervisor</li>
                        <li>Route Manager</li>
                        <li>e-Anifarm Mobile Application</li>
                        <li>e-Anifarm Desktop</li>
                        <li>e-Vet Mobile</li>
                        <li>Procurement Web Panel</li>
                        <li>e-Processor</li>
                        <li>POS (Counter sale)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>