<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>Services</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item active"><a routerLink="../services">Services</a></li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">Production</li> -->
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row my-5">
        <div class="col-sm-12">
            <div class="row mb-4 gy-4">
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-body ">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/images/Services/Production.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="card-title">Production</h5>
                                    <p class="card-text">
                                        Production processes cover the entire range of milk and milk products, with
                                        configurable
                                        parameters to achieve material balancing across the production processes.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <a routerLink="/production">Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card  h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/images/Services/Asset-Management.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="card-title">Asset Management</h5>
                                    <p class="card-text">

                                        Asset Management keeps track of all the information regarding the distribution
                                        of
                                        all
                                        the assets to the various milk centers. This module ensures that a company’s
                                        assets
                                        are
                                        maintained, accounted for, and put to their highest and best use.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <a routerLink="/asset-management">Read More </a>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-body ">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/images/Services/Inventory-Management.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="card-title">Inventory Management</h5>
                                    <p class="card-text">
                                        Inventory management helps the company keep track of the inventory items and
                                        place
                                        orders for the requests that are essential.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <a routerLink="/inventory-management">Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-body ">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/images/Services/Sales-and-Distribution.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="card-title">Sales And Distribution</h5>
                                    <p class="card-text">

                                        The Sales and Distribution module is a very comprehensive system. This module
                                        enables us
                                        to track the sales based on area sales officer, route, vehicle, and many more
                                        different
                                        analytical reports with payment integration
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <a routerLink="/sales-distribution">Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class=" card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/images/Services/Human-Resources.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="card-title">Human Resources Management System</h5>
                                    <p class="card-text">

                                        The module captures essential information about every employee, like their
                                        designation, joining date, years of service, salary amount, leave records, and
                                        more.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <a routerLink="/hrms">Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class=" card-body h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/images/Services/Finance-and-Accounting.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="card-title">Finance And Accounting</h5>
                                    <p class="card-text">

                                        The Finance and Accounting module proves to be an ideal solution that provides
                                        real-time, in-depth financial insights and analysis reports. Handling all
                                        account-related entries and viewing their impact on the whole business reflects
                                        the
                                        complete flow of money as well as total expenditure.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <a routerLink="/finance-accounting">Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class=" card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/images/Services/Field-Force-Tracking.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 clas="card-title">Field Force Tracking</h5>
                                    <p class="card-text">

                                        when the Field Force Tracking module is integrated with the app, companies can
                                        keep
                                        track of every activity performed by on-ground executives and the sales team.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <a routerLink="/field-force-tracking">Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/images/Services/Vehicle-Tracking-System.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="card-title">Vehicle Tracking System</h5>
                                    <p class="card-text">

                                        The Fleet Express solution helps to gain visibility into fleets with live
                                        vehicle
                                        tracking and real-time data. Route optimization, performance analytics, and
                                        engine
                                        diagnostics help streamline the operations with real-time vehicle tracking and
                                        monitoring, and performance data provides insights into the fleet's route runs,
                                        trip
                                        histories, fuel usage, and time on site.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <a routerLink="/vehicle-tracking-system">Read More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>