<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>e-Processor</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">e-Processor</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/Product/e-Processor.png" alt="Production Dairy Img"
                        class="img-fluid w-100 mb-3">
                    <div class="row mb-4">
                        <div>
                            <h3>e-Processor</h3>
                            <p>
                                The e-processor application is used for the milk by product manufacturing companies,
                                which maintains the inventory of the dairy and to manage the production department of
                                dairy. This has the features:
                            </p>

                        </div>
                        <div>
                            <ul>
                                <li>Procurement manager</li>
                                <li>Product Templates</li>
                                <li>Batch Management</li>
                                <li>Production Stock.</li>
                                <li>Sales Management</li>
                                <li>MIS Reports</li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>e-Processor</h6>
                    <ul>
                        <li>Automatic milk collection unit </li>
                        <li>Dairy Supervisor</li>
                        <li>Route Manager</li>
                        <li>e-Anifarm Mobile Application</li>
                        <li>e-Anifarm Desktop</li>
                        <li>e-Vet Mobile</li>
                        <li>Procurement Web Panel</li>
                        <li>e-Processor</li>
                        <li>POS (Counter sale)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>