<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>Field Force Tracking</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../services">Services</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Field Force Tracking</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="section-main">
<div class="container">
    <div class="row my-4" id="product-details">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <div class="mb-4">
                        <img src="../../../../assets/images/Services/Field-Force-Tracking.png" alt="Production Dairy Img"
                            class="img-fluid w-100 rounded-4">
                    </div>
                    <div class="row mb-4">
                        <div>
                            <h3>Field Force Tracking</h3>
                            <p>
                                Managing the entire sales team, field force staff, procurement team, including the dairy
                                supervisor, route manager, and veterinary doctors, can be a hassle if the dairy deals
                                with multiple vendors, outlets, distributors, and retailers spread across a location.
                                But when the Field Force Tracking module is integrated with the app, companies can keep
                                track of every activity performed by on-ground executives and the sales team.
                            </p>
                        </div>
                        <div>
                            <ul>
                                <li>real-time visibility. Monitoring the live tracking screen for each department's field employees</li>
                                <li>Bulk Task Upload</li>
                                <li>mobile application and SOS button</li>
                                <li>Reminders and Alerts</li>
                                <li>Reports on assignments, targets, visits, and travel routes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header bg-transparent fw-bold border-bottom-0">
                            Our Services
                        </div>
                        <div class="list-group list-group-flush">
                            <a routerLink="../production" class="list-group-item list-group-item-action " aria-current="true">Production</a>
                            <a routerLink="../asset-management" class="list-group-item list-group-item-action " aria-current="true">Asset Management</a>
                            <a routerLink="../inventory-management" class="list-group-item list-group-item-action ">Inventory Management</a>
                            <a routerLink="../sales-distribution" class="list-group-item list-group-item-action ">Sales and Distribution</a>
                            <a routerLink="../hrms" class="list-group-item list-group-item-action ">Human Resources Management System</a>
                            <a routerLink="../finance-accounting" class="list-group-item list-group-item-action ">Finance and Accounting</a>
                            <a routerLink="../field-force-tracking" class="list-group-item list-group-item-action active">Field Force Tracking</a>
                            <a routerLink="../vehicle-tracking-system" class="list-group-item list-group-item-action">Vehicle Tracking System</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>