<div class="container">
    <div class="row my-4">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <div class="mb-4">
                        <img src="../../../../assets/images/dummy-img.jpg" alt="Production Dairy Img"
                            class="img-fluid w-100 rounded-4">
                    </div>
                    <div class="row mb-4">
                        <div>
                            <h3>Sales and Distribution</h3>
                            <p>
                                The Sales and Distribution module is a very comprehensive system. This module enables us
                                to track the sales based on area sales officer, route, vehicle, and many more different
                                analytical reports with payment integration. This helps the sales team analyse the
                                market and increase sales.
                            </p>
                        </div>
                        <div>
                            <ul>
                                <li>handles the pre-sales and sales activities of the organization.</li>
                                <li>authorization of orders and invoices.</li>
                                <li>Order scheduling over a period of time and tracking delivery schedules. </li>
                                <li>Order tracking through status and transaction reports.</li>
                                <li>Many dispatches are against single sales orders. </li>
                                <li>Stock transfer between warehouses for multi-location companies.</li>
                                <li>Create a purchase order, a sale order, and a supply order, and update details in the
                                    vendor master.</li>
                                <li>Both primary and secondary clients can use a mobile app to place orders, pay for products, track deliveries, and view their invoices and receipts.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4>Services</h4>
                    <ul class="list-unstyled">
                        <li>Asset Management</li>
                        <li>Inventory Management</li>
                        <li>Sales and Distribution</li>
                        <li>Human Resources Management System</li>
                        <li>Finance and Accounting</li>
                        <li>Field Force Tracking</li>
                        <li>Vehicle Tracking System</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>