<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>Sales and Distribution</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../services">Services</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sales Distribution</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="section-main">
    <div class="container">
        <div class="row my-4" id="product-details">
            <div class="col-sm-12">
                <div class="row mb-4">
                    <div class="col-sm-8">
                        <div class="mb-4">
                            <img src="../../../../assets/images/Services/Sales-Distribution.png"
                                alt="Production Dairy Img" class="img-fluid w-100 rounded-4">
                        </div>
                        <div class="row mb-4">
                            <div>
                                <h3>Sales and Distribution</h3>
                                <p>
                                    The Sales and Distribution module is a very comprehensive system. This module
                                    enables us
                                    to track the sales based on area sales officer, route, vehicle, and many more
                                    different
                                    analytical reports with payment integration. This helps the sales team analyse the
                                    market and increase sales.
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>handles the pre-sales and sales activities of the organization.</li>
                                    <li>authorization of orders and invoices.</li>
                                    <li>Order scheduling over a period of time and tracking delivery schedules. </li>
                                    <li>Order tracking through status and transaction reports.</li>
                                    <li>Many dispatches are against single sales orders. </li>
                                    <li>Stock transfer between warehouses for multi-location companies.</li>
                                    <li>Create a purchase order, a sale order, and a supply order, and update details in
                                        the
                                        vendor master.</li>
                                    <li>Both primary and secondary clients can use a mobile app to place orders, pay for
                                        products, track deliveries, and view their invoices and receipts.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header bg-transparent fw-bold border-bottom-0">
                                Our Products
                            </div>
                            <div class="list-group list-group-flush">
                                <a href="../asset-management" class="list-group-item list-group-item-action" aria-current="true">Asset Management</a>
                                <a href="../inventory-management" class="list-group-item list-group-item-action ">Inventory Management</a>
                                <a href="../sales-distribution" class="list-group-item list-group-item-action active">Sales and Distribution</a>
                                <a href="../hrms" class="list-group-item list-group-item-action">Human Resources Management System</a>
                                <a href="../finance-accounting" class="list-group-item list-group-item-action">Finance and Accounting</a>
                                <a href="../field-force-tracking" class="list-group-item list-group-item-action">Field Force Tracking</a>
                                <a href="../vehicle-tracking-system" class="list-group-item list-group-item-action">Vehicle Tracking System</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>