<h1 mat-dialog-title class="mat-dialog-title">
    Dialog with elements
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
            </span>
    </button>
</h1>
<div mat-dialog-content class="mat-dialog-content">This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <div class="d-flex justify-content-between w-100">
    <button mat-stroked-button class="btn-main-outline">Clear</button>
    <button mat-stroked-button class="btn-main">Submit</button>
  </div>
</div>