<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card plain-card shadow">
                <div class="card-header">
                    <div class="mb-0 text-end">
                        <button mat-icon-button class="bg-main">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                           
                            <div class="scrollbar table-10row-height">

                                <table mat-table [dataSource]="dataSource" class="w-100 dashboard-table">

                                    <ng-container matColumnDef="srno">
                                        <th mat-header-cell *matHeaderCellDef class="srno-width"> Sr. No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="registration_route">
                                        <th mat-header-cell *matHeaderCellDef> Emplyee ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.registration_route}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="type">
                                        <th mat-header-cell *matHeaderCellDef> Emplyee Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="route_name">
                                        <th mat-header-cell *matHeaderCellDef> Designation Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.route_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Department_name">
                                        <th mat-header-cell *matHeaderCellDef> Department Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Department_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="srno-width"> Action </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="d-flex">
                                                <button mat-icon-button matTooltip="Edit">
                                                    <span class="material-symbols-outlined">
                                                        edit
                                                    </span>
                                                </button>
                                                <button mat-icon-button matTooltip="Delete">
                                                    <span class="material-symbols-outlined text-danger">
                                                        delete
                                                    </span>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header">
                                    Employee List
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline" class="w-100 ">
                                            <mat-label>Select Orgnization</mat-label>
                                            <mat-select>
                                                <mat-option value="one">First option</mat-option>
                                                <mat-option value="two">Second option</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline" class="w-100 ">
                                            <mat-label>Select Company</mat-label>
                                            <mat-select>
                                                <mat-option value="one">First option</mat-option>
                                                <mat-option value="two">Second option</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline" class="w-100 ">
                                            <mat-label>Select Branch</mat-label>
                                            <mat-select>
                                                <mat-option value="one">First option</mat-option>
                                                <mat-option value="two">Second option</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline" class="w-100 ">
                                            <mat-label> Select Department</mat-label>
                                            <mat-select>
                                                <mat-option value="one">First option</mat-option>
                                                <mat-option value="two">Second option</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="mb-3">
                                        <mat-form-field appearance="outline" class="w-100 ">
                                            <mat-label>Select Designation</mat-label>
                                            <mat-select>
                                                <mat-option value="one">First option</mat-option>
                                                <mat-option value="two">Second option</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="mb-3">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Enter  Name/ Emplyee ID</mat-label>
                                            <input matInput placeholder="Enter  Name/ Emplyee ID">
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <div class="d-flex justify-content-between">

                                            <button mat-stroked-button class="btn-main-outline">Clear</button>
                                            <button mat-stroked-button class="btn-main">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>