.navbar{
    background-color: var(--main-color);
    padding: 10px;
}
.navbar .form-control,
.navbar .btn{
    font-size: 0.85rem;
    color: #fff;
}
.navbar button:focus:not(:focus-visible){
    border:solid 1px var(--main-color);
}
.navbar .form-control{
    background-color: var(--main-dark-color);
    border: none;
    box-shadow: none;
    height:34.4px;
}
.navbar input::placeholder {
    color: #fff;;
}
.navbar .dropdown-menu{
    padding: 10px;
    font-size: 0.85rem;
    border: none;
}
.navbar .dropdown-menu .dropdown-item{
    padding: 10px 15px;
    border-radius: 5px;
}
.navbar-header{
    width: 260px;
    margin-right: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    background-color:var(--main-dark-color);
    padding:10px 15px;
}
.navbar-header i{
    font-size: 1.2rem;
}
.navbar-header img{
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border-radius: 50%;
}