header{ 
    height: 100vh;
    background-color:var(--main-dark-color);
    background-image: url(../../../assets/images/home/header-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}