tr.example-detail-row {
    height: 0;
    background-color: #f3f3f3 !important;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
  }