<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>e-Anifarm Desktop</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">e-Anifarm Desktop</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/Product/e-Anifarm-Desktop.png" alt="Production Dairy Img"
                        class="img-fluid w-100 mb-2">
                    <div class="row mb-4">
                        <div>
                            <h3>e-Anifarm Desktop</h3>
                            <p>
                                When the number of livestock is limited, it is quite easy to keep the record of all
                                animals manually using ledgers. But as the number of animals increases, it becomes very
                                difficult to record and keep track of all the animals individually. Record-keeping
                                becomes very messy. E-Anifarm software helps large-scale dairy farmers maintain records
                                of all the animals using the desktop application. This has the unique features to
                                maintain the cattle farms.
                            </p>
                            
                        </div>
                        <div>
                            <ul>
                                <li>Animal Listing</li>
                                <li>Maintain Breeding Cycles</li>
                                <li>Milk production</li>
                                <li>Sale of milk</li>
                                <li>AI, PD, calving details</li>
                                <li>Medical attention and vaccinations</li>
                                <li>Labourer Attendance</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>e-Anifarm Desktop</h6>
                    <ul>
                        <li>Automatic milk collection unit </li>
                        <li>Dairy Supervisor</li>
                        <li>Route Manager</li>
                        <li>e-Anifarm Mobile Application</li>
                        <li>e-Anifarm Desktop</li>
                        <li>e-Vet Mobile</li>
                        <li>Procurement Web Panel</li>
                        <li>e-Processor</li>
                        <li>POS (Counter sale)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>