<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>e-Anifarm Desktop</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">e-Anifarm Desktop</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="section-main">
<div class="container">
    <div class="row my-3"  id="product-details">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/Product/e-Anifarm-Desktop.png" alt="Production Dairy Img"
                        class="img-fluid w-100 mb-2">
                    <div class="row mb-4">
                        <div>
                            <h3>e-Anifarm Desktop</h3>
                            <p>
                                When the number of livestock is limited, it is quite easy to keep the record of all
                                animals manually using ledgers. But as the number of animals increases, it becomes very
                                difficult to record and keep track of all the animals individually. Record-keeping
                                becomes very messy. E-Anifarm software helps large-scale dairy farmers maintain records
                                of all the animals using the desktop application. This has the unique features to
                                maintain the cattle farms.
                            </p>
                            
                        </div>
                        <div>
                            <ul>
                                <li>Animal Listing</li>
                                <li>Maintain Breeding Cycles</li>
                                <li>Milk production</li>
                                <li>Sale of milk</li>
                                <li>AI, PD, calving details</li>
                                <li>Medical attention and vaccinations</li>
                                <li>Labourer Attendance</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header bg-transparent fw-bold border-bottom-0">
                            Our Products
                        </div>
                        <div class="list-group list-group-flush">
                            <a routerLink="/daily-supervisor" class="list-group-item list-group-item-action" aria-current="true">Daily
                                Supervisor</a>
                            <a routerLink="/automatic-milk-collection-unit" class="list-group-item list-group-item-action ">Automatic Milk Collection Unit</a>
                            <a routerLink="/route-manager" class="list-group-item list-group-item-action">Route Manager</a>
                            <a routerLink="/e-anifarm-mobile-app" class="list-group-item list-group-item-action ">e-Anifarm Mobile Application</a>
                            <a routerLink="/e-anifarm-desktop" class="list-group-item list-group-item-action active">e-Anifarm Desktop</a>
                            <a  routerLink="/e-vet-mobile" class="list-group-item list-group-item-action">e-Vet Mobile</a>
                            <a  routerLink="/procurement-web-panel" class="list-group-item list-group-item-action">Procurement Web Panel</a>
                            <a routerLink="/e-processor" class="list-group-item list-group-item-action">e-Processor</a>
                            <a routerLink="/pos" class="list-group-item list-group-item-action">POS (Counter sale)</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>