<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>

<section class="section-main">
    <div class="container">
        <div class="row mb-3 align-items-center">
            <div class="col-sm-6 order-1 order-lg-0">
                <h3 class="section-subhead">A complete end to end ERP solution for every step of the dairy industry.
                </h3>
                <p>Although India is the world's largest milk producer, the quality of its milk leaves much to be
                    desired. Hitech Dairy marked the beginning of its journey in the dairy sector with the "Automatic
                    Milk Collection Unit," which helped dairy firms maintain a database and is very useful in
                    eliminating flaws of the traditional milk system. Since then, we have come a long way. Hitech Dairy
                    offers a complete end-to-end ERP solution for the dairy industry, beginning with the Automatic Milk
                    Collection Unit. Hitech dairy aims to bring advanced technologies into the dairy industry, simplify
                    all the complexities, and reduce your operating costs.</p>
            </div>
            <div class="col-sm-6 text-center order-0 order-lg-1">
                <img src="assets/images/home/About-Us.svg" class="img-fluid mx-auto mb-4 mb-lg-0">
            </div>
        </div>
        <div class="row g-3 mb-4 justify-content-center" id="clientele">
            <div class="col-sm-12 text-center">
                <h3 class="section-subhead">Our Clients
                </h3>
            </div>
            <div class="col-sm-3">
                <div class="card card-body">
                    Govind Milk & Milk Product
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body">
                    S. Kumar Dairy
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body">
                    Keshar Dairy
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body">
                    Shri Shivshambho Dairy
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body">
                    Kunjir Dairy
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body">
                    Rajtej Dairy
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body">
                    Krushnaraj Dairy
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body">
                    Om Dairy
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-body">
                    Wagheshwari Doodh Sankalan Kendra
                </div>
            </div>
        </div>
        <div class="row gx-3">
            <h3 class="section-subhead">Key Benefits</h3>
            <ul>
                <li>engagement of all entities adding value to the dairy business</li>
                <li>manages the end-to-end procurement process.</li>
                <li>tracking of milk quality and quantity from farmers to dairy plants.</li>
                <li>Routine Inspections, BMC Surveys, and Task Visits</li>
                <li>Extended services to farmers are provided by e-Vet and e-Anifarm solutions.</li>
                <li>facilitation of schemes and animal-subsidised food.</li>
                <li>The central system administrator's MIS reports</li>
            </ul>
        </div>
    </div>
</section>