<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>Procurement Web Panel</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Procurement Web Panel</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/Product/Procurement-Web-Panel.png" alt="Production Dairy Img"
                        class="img-fluid w-100 mb-3">
                    <div class="row mb-4">
                        <div>
                            <h3>Procurement Web Panel</h3>
                            <p>
                                The Milk Procurement System is a custom solution that manages all the tasks associated
                                with distributed milk collection and milk procurement, including a web-based and mobile
                                app-based route manager and a dairy supervisor mobile application.
                            </p>

                        </div>
                        <div>
                            <ul>
                                <li>The web-based admin controls the entire ERP portal.</li>
                                <li>Facilitate recording weighbridge weight and dock operations.</li>
                                <li>Centralized rate card management</li>
                                <li>The dashboard provides visibility into periodic milk collection and summary parameters.</li>
                                <li>Generates MIS reports</li>
                                

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>Procurement Web Panel</h6>
                    <ul>
                        <li>Automatic milk collection unit </li>
                        <li>Dairy Supervisor</li>
                        <li>Route Manager</li>
                        <li>e-Anifarm Mobile Application</li>
                        <li>e-Anifarm Desktop</li>
                        <li>e-Vet Mobile</li>
                        <li>Procurement Web Panel</li>
                        <li>e-Processor</li>
                        <li>POS (Counter sale)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>