<h1 mat-dialog-title class="mat-dialog-title">
    Item Transfer
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</h1>
<div mat-dialog-content class="mat-dialog-content">
    <div class="row mb-3">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Item Name</mat-label>
                <input matInput placeholder="Enter Item Name">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Item ID</mat-label>
                <input matInput placeholder="Enter Item ID">
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100 ">
                <mat-label>Item Category</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>OLd Store</mat-label>
                <input matInput placeholder="Enter old store Name">
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>New Store</mat-label>
                <input matInput placeholder="Enter new store Name">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Transfer Date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Purchase date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Transfer App</mat-label>
                <input matInput placeholder="Trasnfer App">
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="d-flex justify-content-between w-100">
        <button mat-stroked-button class="btn-main-outline">Clear</button>
        <button mat-stroked-button class="btn-main">Submit</button>
    </div>
</div>