<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/dummy-img.jpg" alt="Production Dairy Img" class="img-fluid w-100 mb-2">
                    <div class="row mb-4">
                        <div>
                            <h3>Dairy Supervisor</h3>
                            <p>
                                This application helps to the dairy to collect the milk from different BMC’s with below mentioned features
                            </p>
                        </div>
                        <div>
                            <ul>
                                <li>Integration of quantity SNF, FAT, Degree, and so on with the central server</li>
                                <li>Facilitate the collection of leftover milk by monitoring the main dairy plant.</li>
                                <li>the anticipation of milk tankers' arrival time to process the milk. </li>
                                <li>Trace attendance, live location, and travel map. </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>Dairy Supervisor</h6>
                    <ul>
                        <li>Automatic milk collection unit </li>
                        <li>Route Manager</li>
                        <li>e-Anifarm Mobile Application</li>
                        <li>e-Anifarm Desktop</li>
                        <li>e-Vet Mobile</li>
                        <li>Procurement Web Panel</li>
                        <li>e-Processor</li>
                        <li>POS (Counter sale)</li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
</div>