@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/css/MaterialStyleSheet.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', sans-serif;background-color: #F6F5F7;}
.page-wrapper.toggled .sidebar {
  left: -300px;
}
  // angular perfect scrollbar style
  .sidebar .ps.ps--scrolling-y>.ps__rail-y,
  .sidebar>.ps.ps--scrolling-x>.ps__rail-x,
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
  }  
  .sidebar .ps.ps--active-y>.ps__rail-y:hover,
  .sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
    width: 10px !important;
  }  
  .ps__thumb-y {
    background-color: #fff !important;
    width: 6px!important;
    border-radius: 0px!important;
    opacity: .5;
  }

  :root
  {
    --main-color:rgb(32, 101, 174);
    --main-light-color:rgb(230, 242, 255);
    --main-dark-color:rgb(3, 65, 131);
  }
.text-main{
  color: var(--main-color);
}
.bg-main{
  background-color:var(--main-color);
  color: #fff;
  font-family: 'Inter', sans-serif;
}
.btn-main{
  font-family: 'Inter', sans-serif;
  background-color:var(--main-color);
  color: #fff;
  border:solid 1px var(--main-color);
}
.btn-main:hover{
  background-color:var(--main-dark-color);
  color: #fff;
  border:solid 1px var(--main-dark-color);
}
.btn-main-outline{
  font-family: 'Inter', sans-serif;
  color:var(--main-color);
  background-color: var(--main-light-color);
  border:solid 1px var(--main-light-color) !important;
}
.text-main-dark{
  color: var(--main-dark-color);
}
.bg-main-dark{
  background-color:var(--main-dark-color);
  color: #fff;
}
.btn-main-dark{
  background-color:var(--main-dark-color);
  color: #fff;
  border:solid 1px var(--main-dark-color);
}
.btn-main-dark:focus:not(:focus-visible),
.btn-main-dark.show,
.btn-main-dark:focus-visible,
.btn-main-dark:active,
.btn-main-dark:hover{
  background-color:var(--main-dark-color);
  color: #fff;
  border:solid 1px var(--main-dark-color);
}
.plain-card,
.dashboard-table,
mat-label,
button.mat-menu-item,
.mat-input-element,
.mat-tab-label-content{
  font-family: 'Inter', sans-serif;
}
.plain-card{
  border: none;
  border-radius: 0.375rem;
}
.plain-card .card-header{
  background-color:transparent;
  font-size: 0.85rem;
  font-weight: 500;
  border-bottom: 0;
  padding: 15px 15px 0 15px;
}
.plain-card .card-header button .material-symbols-outlined{
  font-size: 26px;
    line-height: 1;
}
.plain-card .card-body{
  font-size: 0.85rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.dashboard-table{
  width: 100%;
}
.dashboard-table th{
  background-color:#E7F7FF;
  font-size: 0.85rem;
  font-weight: 600;
}
.dashboard-table .srno-width{
  width: 90px;
}
.dashboard-table .material-symbols-outlined{
  font-size:16px !important;
}
.dashboard-table tr.mat-row,
.dashboard-table tr.mat-header-row{
  height: 40px;
}
.table-5row-height{
  max-height: 33vh;
  overflow-y: auto;
}
.table-10row-height{
  max-height: 62vh;
  overflow-y: auto;
}
.mat-menu-content:not(:empty){
  padding:0 !important;
}
button.mat-menu-item {
  height: 36px;
  line-height: 36px;
}















.scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior: contain;
  scrollbar-color: #989ea6 transparent;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}
.scrollbar:hover::-webkit-scrollbar, .scrollbar:hover::-webkit-scrollbar-thumb, .scrollbar:hover:focus::-webkit-scrollbar, .scrollbar:hover:focus::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: transparent;
  height: 0.375rem;
  visibility: hidden;
  width: 0.375rem;
}
.scrollbar::-webkit-scrollbar-button, .scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.scrollbar::-webkit-scrollbar-button, .scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.scrollbar:hover::-webkit-scrollbar, .scrollbar:hover::-webkit-scrollbar-thumb, .scrollbar:hover:focus::-webkit-scrollbar, .scrollbar:hover:focus::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(214,7%,62%,.4);
  border-radius: 3px;
  visibility: hidden;
}