@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Rubik', sans-serif;background-color: #F6F5F7;}
.page-wrapper.toggled .sidebar {
    width: 60px;
  }  
  // angular perfect scrollbar style
  .sidebar .ps.ps--scrolling-y>.ps__rail-y,
  .sidebar>.ps.ps--scrolling-x>.ps__rail-x,
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
  }  
  .sidebar .ps.ps--active-y>.ps__rail-y:hover,
  .sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
    width: 10px !important;
  }  
  .ps__thumb-y {
    background-color: #fff !important;
    width: 6px!important;
    border-radius: 0px!important;
    opacity: .5;
  }

  :root
  {
    --main-color:rgb(68, 138, 255);
    --main-dark-color:rgb(38, 110, 230);
  }
.text-main{
  color: var(--main-color);
}
.bg-main{
  background-color:var(--main-color);
  color: #fff;
}
.btn-main{
  background-color:var(--main-color);
  color: #fff;
  border:solid 1px var(--main-color);
}
.text-main-dark{
  color: var(--main-dark-color);
}
.bg-main-dark{
  background-color:var(--main-dark-color);
  color: #fff;
}
.btn-main-dark{
  background-color:var(--main-dark-color);
  color: #fff;
  border:solid 1px var(--main-dark-color);
}
.btn-main-dark:focus:not(:focus-visible),
.btn-main-dark.show,
.btn-main-dark:focus-visible,
.btn-main-dark:active,
.btn-main-dark:hover{
  background-color:var(--main-dark-color);
  color: #fff;
  border:solid 1px var(--main-dark-color);
}