<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>e-Vet Mobile </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">e-Vet Mobile </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/Product/e-Vet Mobile.png" alt="Production Dairy Img"
                        class="img-fluid w-100 mb-3">
                    <div class="row mb-4">
                        <div>
                            <h3>e-Vet Mobile </h3>
                            <p>
                                This application helps to veterinary doctors to check the details of the animals under
                                to the dairy which has the features mentioned below:
                            </p>

                        </div>
                        <div>
                            <ul>
                                <li>Farmers and Animals Registration. </li>
                                <li>Record scheduled and daily activities. </li>
                                <li>Animal Medication and Vaccination alerts to farmers</li>
                                <li>Inventory and Expenses Management</li>
                                <li>Animal Breeding reports. </li>
                                <li>Assistance for improvised milk production. </li>
                                <li>Events and notifications alerts.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>e-Vet Mobile </h6>
                    <ul>
                        <li>Automatic milk collection unit </li>
                        <li>Dairy Supervisor</li>
                        <li>Route Manager</li>
                        <li>e-Anifarm Mobile Application</li>
                        <li>e-Anifarm Desktop</li>
                        <li>e-Vet Mobile</li>
                        <li>Procurement Web Panel</li>
                        <li>e-Processor</li>
                        <li>POS (Counter sale)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>