<header id="page-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6" id="header-right">
                <h1>Products</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="../products">Products</a></li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="section-main mb-0 mb-lg-5">
    <div class="container">
        <div class="row g-3" id="products-service">
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/Automatic-milk-collection-unit.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">Automatic Milk Collection Unit </h6>
                                <small>(Desktop & Mobile Application)</small>
                                <p class="card-text">It is a desktop-based, mobile-based, web-based, and DPU-based automatic milk
                                    collection
                                    unit that provides a...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/automatic-milk-collection-unit">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/Dairy-Supervisor.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">Dairy Supervisor</h6>
                                <p class="card-text">This application helps to the dairy to collect the milk from different BMC’s with
                                    below mentioned featuresThis application...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/daily-supervisor">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/Route-Manager.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">Route Manager</h6>
                                <p class="card-text">This application helps to maintain the quality of BMC’s under dairy. This has the
                                    features mentioned...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/route-manager">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/e-Anifarm-Mobile-Application.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">e-Anifarm Mobile Application</h6>
                                <p class="card-text">e- Anifarm is a simple and most user- friendly application developed by Shaurya
                                    Technosoft Pvt. Ltd. for the...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/e-anifarm-mobile-app">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/e-Anifarm-Desktop.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">e-Anifarm Desktop</h6>
                                <p class="card-text">When the number of livestock is limited, it is quite easy to keep the record of all
                                    animals...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/e-anifarm-desktop">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/e-Vet-Mobile.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">e-Vet Mobile</h6>
                                <p class="card-text">This application helps to veterinary doctors to check the details of the animals under to
                                    the dairy which has the features mentioned...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/e-vet-mobile">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/Procurement-Web-Panel.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">Procurement Web Panel</h6>
                                <p class="card-text">The Milk Procurement System is a custom solution that manages all the tasks associated
                                    with distributed...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/procurement-web-panel">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/e-Processor.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">e-Processor</h6>
                                <p class="card-text">The e-processor application is used for the milk by product manufacturing companies,
                                    which maintains the inventory of the dairy...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/e-processor">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/images/Product/POS-Counter-sale.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="card-title">POS (Counter sale)</h6>
                                <p class="card-text">The modern-day cash register, a point of sale system, or POS, is an all-in-one hardware
                                    and software solution that...</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <a routerLink="/pos">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>