<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="row mb-4">
                <div class="col-sm-8">
                    <img src="../../../../assets/images/dummy-img.jpg" alt="Production Dairy Img" class="img-fluid w-100">
                </div>
                <div class="col-sm-4">
                    <h6>Automatic Milk Collection Unit</h6>
                    <ul>
                        <li>Procurement </li>
                        <li>E-Anifarm Application</li>
                        <li>E-Anifarm Desktop & E-Vet App </li>
                        <li>POS (Counter sale) </li>
                    </ul>
                </div>
            </div>
            <div class="row mb-4">
                <div>
                    <h3>Automatic Milk Collection Unit</h3>
                    <p>
                        It is a desktop-based, mobile-based, web-based, and DPU-based automatic milk collection unit
                        that provides a comprehensive solution to perform operations like milk quality testing and
                        weighing at the time of milk collection. The AMCU captures the exact quantity, fat, and solids
                        of milk in real-time and automatically calculates payment to the farmer, which enhances
                        transparency, quick milk collection, easy data management, and instant notifications to the
                        farmer.
                    </p>
                </div>
                <div>
                    <ul>
                        <li>Software that is desktop-based, Web-based, app-based, or DPU-based</li>
                        <li>The list of accounts, advances, cattle feed, deductions, and bonuses are directly connected to accounting.</li>
                        <li>Centralized rate card management </li>
                        <li>If a S.N.F. counting machine is not available, then you can calculate S.N.F. by using C.L.R. </li>
                        <li>Rate cards can be prepared according to FAT and SNF.</li>
                        <li>A number of reports can be generated.</li>
                        <li>Mobile app synchronisation and SMS integration</li>
                        <li>Generates MIS reports.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>